footer {
    padding: 5rem 5%;
}

#contact {
    background-color: var(--clr2);
}

.container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.f-container h2 {
    font-size: 2.5rem;
    color: var(--clr3);
    padding: 1rem 0;
}

.f-container a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--clr3);
    padding: 1rem 0;
    display: block;
}

.f-container a:hover {
    transform: translateX(.5rem);
    transition: .5s ease;
}

.f-container i {
    padding-right: .5rem;
    color: var(--clr1);
}

.f-container p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--clr1);
}

.f-container input {
    width: 90%;
    padding: 1rem;
    background: #eee;
    border: .2rem solid var(--clr1);
}

.f-container .btn {
    background: var(--clr1);
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: .2rem;
}

.f-container .social i {
    margin-top: 1rem;
    font-size: 2rem;
    background: var(--clr3);
    border-radius: 1rem;
    padding: 1rem;
}

.f-container .social i:hover {
    transform: rotate(360deg);
    transition: 1s ease;
}

.footer-content {
    padding: 2rem 0;
    text-align: center;
}

.footer-content h1 {
    font-size: 3rem;
    color: #aaa;
}

.copyright {
    padding: 2rem 0;
    text-align: center;
    background: var(--clr1);
    color: #fff;
    font-size: 1.5rem;
}

.copyright p {
    font-size: 1.2rem;
    color: #aaa;
}
  body {
    background-image: url('https://www.artopica.de/assets/images/artopica_netzwerk_topicevent_0000_2k_16x9.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    /* You can also add additional background properties like background-color or background-repeat if needed */
}
body{
    color: white;
    }
