.services-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.services-col {
    height: 22rem;
    color: rgb(236, 68, 90);
    background: url("back-2.png");
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 25rem;
    padding: 1.2rem;
    margin: 1.5rem;
}

.services-col i {
    padding: 2.2rem;
    border: none;
    background: aliceblue;
    border-radius: 5rem;
    font-size: 2.8rem;
}

.services-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
}

.services-col p {
    font-size: 1.2rem;
    color: #000;
}

@media (max-width:767px) {
    .service {
        margin-bottom: 30rem;
    }
}

